<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="always" name="referrer">
    <title>用户管理</title>
    <div th:include="/common/common :: html"></div>
</head>
<body>
<div class="easyui-layout" data-options="fit:true,border:false,minWidth:560">
    <div data-options="region:'north',border:false" style="padding: 10px 5px;">
        <input id="username" class="easyui-textbox" data-options="label:'用户名'" style="width:160px;"/>
        <input id="mobile" class="easyui-textbox" data-options="label:'电话'" style="width:150px;"/>
        <select id="sex" class="easyui-combobox" panelHeight="auto" name="state" label='性别' style="width:120px">
            <option value="">全部</option>
            <option value="0">男</option>
            <option value="1">女</option>
        </select>
        <a href="javascript:void(0)" onclick="queryUsers()" class="easyui-linkbutton button-blue"
           style="width: 70px;margin-left: 10px;">查&nbsp;询</a>
    </div>

    <div data-options="region:'center',border:false" style="height:100%">
        <table id="dg" style="width:100%;height:100%;">
        </table>
        <div id="tb" style="padding:2px 5px;">
            <a href="javascript:void(0)" onclick="add()" class="easyui-linkbutton" iconCls="icon-add"
               plain="true">添加</a>
            <!--<a id="btn-edit" href="javascript:void(0)" onclick="edit()" class="easyui-linkbutton" iconCls="icon-edit"-->
               <!--plain="true">编辑</a>-->
            <a id="btn-delete" href="javascript:void(0)" onclick="remove()" class="easyui-linkbutton"
               iconCls="icon-remove"
               plain="true">删除</a>
            <!--<a href="javascript:void(0)" onclick="getRoles()" class="easyui-linkbutton" iconCls="icon-user-config"-->
               <!--plain="true">角色设置</a>-->
            <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-save" plain="true">保存</a>-->
            <!--<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cut" plain="true">剪切</a>-->

        </div>
    </div>
</div>
<div id="dlg"></div>
<script src="/js/sys/user.js"></script>
</body>
</html>